

<h1>Welcome {{ user }}</h1>
<div class="container row">
<div class="text-center  col-lg-6 col-md-12">
  <div class="container w-75 mt-5 p3 border border-light text-center me-4" style="background-color:rgba(240, 248, 255, 0.568); border-radius: 20px">

    <h1 class="text-success">Deposit</h1>
  <form [formGroup]=" depositForm" action="">
    <!-- Two way binding using ngModel -->
    <div>
        <input
          
          type="text"
          class="form-control mt-3 p-2"
          id="acid"
          name="acnum1"
          placeholder="Enter Account Number"
          formControlName="acno"
        />
      </div>
      <div *ngIf="this.depositForm.get('acno')?.errors && this.depositForm.get('acno')?.touched">
        <p class="text-danger">Invalid Account Number</p>
      </div>
      <div>
        <input
          
          type="password"
          class="form-control mt-3 p-2"
          id="psw1"
          name="paswrd1"
          placeholder="Enter Password"
          formControlName="psw"
        />
      </div>
      <div *ngIf="this.depositForm.get('psw')?.errors && this.depositForm.get('psw')?.touched">
        <p class="text-danger">Invalid Password</p>
      </div>
    <div>
      <input
        
        type="text"
        class="form-control mt-3 p-2"
        id="amouid"
        name="amnt1"
        placeholder="Enter Deposit Amount"
        formControlName="amnt"
      />
    </div>
    <div *ngIf="this.depositForm.get('amnt')?.errors && this.depositForm.get('amnt')?.touched">
      <p class="text-danger">Invalid Amount</p>
    </div>
    
    <div>
      <button type="submit" (click)="deposit()" class="btn btn-outline-primary mt-3 mb-3">Deposit</button>
    </div>
  </form>
</div>
</div>

<div class="text-center col-lg-6 col-md-12">
  <div class="container w-75 mt-5 p3 border border-light text-center me-4" style="background-color:rgba(240, 248, 255, 0.568); border-radius: 20px">

    <h1>Withdraw</h1>
  <form [formGroup]="withdrawForm" action="">
    <!-- Two way binding using ngModel -->
    <div>
        <input
          
          type="text"
          class="form-control mt-3 p-2"
          id="acid2"
          name="acnum2"
          placeholder="Enter Account Number"
          formControlName="acno1"
        />
      </div>
      <div *ngIf="this.withdrawForm.get('acno1')?.errors && this.withdrawForm.get('acno1')?.touched">
        <p class="text-danger">Invalid Account Number</p>
      </div>
      <div>
        <input
          
          type="password"
          class="form-control mt-3 p-2"
          id="psw2"
          name="paswrd2"
          placeholder="Enter Password"
          formControlName="psw1"
        />
      </div>
      <div *ngIf="this.withdrawForm.get('psw1')?.errors && this.withdrawForm.get('psw1')?.touched">
        <p class="text-danger">Invalid Password</p>
      </div>
    <div>
      <input
        
        type="text"
        class="form-control mt-3 p-2"
        id="amouid1"
        name="amnt2"
        placeholder="Enter Withdrawal Amount"
        formControlName="amnt1"
      />
    </div>
    <div *ngIf="this.withdrawForm.get('amnt1')?.errors && this.withdrawForm.get('amnt1')?.touched">
      <p class="text-danger">Invalid Amount</p>
    </div>
    
    <div>
      <button type="submit" (click)="withdraw()" class="btn btn-outline-primary mt-3 mb-3">Withdraw</button>
    </div>
  </form>
</div>
</div>
</div>

<div class=" mt-3 ms-3 text-center p-4">
<a routerLink="/transaction" style="text-decoration: none;color: crimson; background-color:rgba(240, 248, 255, 0.568); border-radius: 20px" class="p-3">View Transaction History</a>  
</div>
<div class="text-center mt-3 me-2">
  <button class="btn btn-danger me-3">Delete account</button>
  <button class="btn btn-info">Log Out</button>
</div>
