<!-- <p>transaction works!</p> -->
<div class="container w-50 border border-light text-center mt-5" style="background-color: rgba(0, 0, 0, 0.267); border-radius: 20px;">
    <h1  class=" mt-4 p-2" style="color:crimson">Transaction History</h1>
    <table class="w-100 mb-3">
        <thead class="border border-light" style="background-color:rgb(82, 212, 255); color:rgb(240, 67, 67);">
            <tr>
                <th>TYPE</th>
                <th>AMOUNT</th>
            </tr>
        </thead>
        <tbody style="background-color: lavenderblush;" *ngFor="let i of transactionData">
            <tr>
                <td>{{i.Type}}</td>
                <td>{{i.amount}}</td>
            </tr>
        </tbody>
    </table>
</div>