

<div class="container w-50 mt-5 p3 border border-light text-center" style="background-color:rgba(240, 248, 255, 0.568); border-radius: 20px">
    <h1 class=" mt-4 p-2" style="color:rgb(16, 129, 133)">Sign Up To Bank!</h1>
    <form [formGroup]="registerForm" action="" (ngSubmit)="register()">
        <!-- Two way binding using ngModel -->
        <div>
            <input formControlName="uname" type="text" class="form-control mt-3 p-2" id="unamid" name="usern1" placeholder="Enter Username">
        </div>
        <div>
            <input formControlName="acno" type="text" class="form-control mt-3 p-2" id="acid" name="acnum1" placeholder="Enter Account Number">
        </div>
        <div>
            <input formControlName="psw" type="text"  class="form-control mt-3 p-2" id="psw1" name="paswrd1" placeholder="Enter Password">
        </div>
        <div>
        <button type="submit"  class="btn btn-primary mt-3 mb-3" >Register</button>
    </div>
   
    </form>
</div>
<!-- formControlName--to share datato ts . -->